		* {
			font-family: verdana; 
		}
		body {
			background: linear-gradient(90deg, green, silver, green);
		}
		.container {
			min-width: 400px; 
			min-height: 500px; 
			padding: 20px; 
			overflow: auto; 
			border: 2px solid black; 
			margin: 25px auto; 
			background-color: white; 
		}
		textarea {
			height: 80px;   
		}
		.submit {
			color: white;
			background-color: green; 
			border: 1px solid black; 
			box-shadow: 2px 2px 5px black;
			margin: 10px auto;  
		}
		.table {
			overflow: auto; 
		}
		.error {
			color: red; 
		}
		.remove_link {
			text-decoration: underline;
		}